# Mac OSX files
.DS_Store

# pyenv
.python-version

# virtualenv
.venv
venv/


# compiled
__pycache__/
resources/
.ipynb_checkpoints/
*.ipynb


# images
Src/images/*
*.png
*.jpg

# output log
*.txt

# data saving
src/data 

# debug file
debug*

# samples
src/samples/LQR/
!src/samples/LQR/gaussian_actions_2000_2.pickle
!src/samples/LQR/gaussian_actions_2000.pickle
!src/samples/LQR/gaussian_actions_2d2000.pickle
