# Mac OSX files
.DS_Store

# pyenv
.python-version

# virtualenv
.venv
venv/


# compiled
__pycache__/
resources/

# jupyter notebook
.ipynb_checkpoints/
*.ipynb

# shell file
*.sh

# images
Src/images/*
*.png
*.jpg

# Videos
src/videos/*
# output log
*.txt

# data saving
src/data 

# debug file
debug*

# test file
src/test/

# samples
src/samples/
!src/samples/LQR/gaussian_actions_2000.pickle
!src/samples/LQR2D/gaussian_actions_2000.pickle
