# Mac OSX files
.DS_Store

# pyenv
.python-version

# virtualenv
.venv
venv/


# compiled
__pycache__/
resources/
.ipynb_checkpoints/
*.ipynb


# images
Src/images/*
*.png
*.jpg

# output log
*.txt

# debug file
debug*

# samples
src/samples/*
